<a href="https://colab.research.google.com/github/Meenakshysheeja/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Python_assignment_Meenakshy_M_S_LBT_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python program to find largest 
# number in a list 
 
  
# list of numbers 
 
list1 = [10, 20, 4, 45, 99] 
 
  
# sorting the list 
list1.sort() 
 
  
# printing the last element 
 
print("Largest element is:", list1[-1])

Largest element is: 99

In [ ]:
 
#3
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

In [ ]:
# Python code to remove duplicate elements 
 
def Remove(duplicate): 
 
    final_list = [] 
 
    for num in duplicate: 
 
        if num not in final_list: 
 
            final_list.append(num) 
 
    return final_list 
 
      
# Driver Code 
 
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
 
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [ ]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

In [ ]:
#2
flowerList = ['rose', 'daffodil', 'sunflower', 'poppy', 'bluebell']
 
# Take the name of the flower that you want to search in the list
flowerName = input("Enter a flower name:")
 
# Search the element using 'in' operator
if flowerName.lower() in flowerList:
 
  # Print success message
  print("%s is found in the list" %(flowerName))
else:
 
  # Print not found message
  print("%s is not found in the list" %(flowerName))

Enter a flower name:Rose
Rose is found in the list

In [ ]:
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
final_list = list1 + list2
print(final_list)

[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [ ]:
n=int(input('Enter the number '))
factor=0
for i in range(1,n):
  if n%i==0:
    factor=i
if factor>1:
  print ('The number is a composite number!')
elif n==1:
  print ('The number 1 is neither prime nor composite!')
else:
  print ('This is not a composite number!')

Enter the number 4
The number is a composite number!

In [ ]:
# Program to add two matrices using nested loop
 
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
 
Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]
 
result = [[0,0,0],
         [0,0,0],
         [0,0,0]]
 
# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]
 
for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
# function which return reverse of a string
 
 
def isPalindrome(s):
 
    return s == s[::-1]
 
 
# Driver code
 
s = "malayalam"
 
ans = isPalindrome(s)
 
 
if ans:
 
    print("Yes")
 
else:
 
    print("No")

Yes

In [ ]:
# Python Program to Print Multiplication Table of a Number
 
num = int(input("Enter the number: "))
 
print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 5
Multiplication Table of 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50